<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/bootstrap/css.ejs %>
    <% include ../partials/bootstrap/jquery.ejs %>
    <title>signup</title>
</head>
<body>
    
    <% include ../partials/nav/nav.ejs%>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 mx-auto">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>Signup</h3>
                        </div>
                        <div class="card-body">
                            <form action="" method="">
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <% include ../partials/bootstrap/js.ejs %>
</body>
</html>