<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/bootstrap/css.ejs %>
    <% include partials/bootstrap/jquery.ejs %>
    <title><%=title%></title>
</head>
<body>
     <!--menu de navegacion-->
     <% include partials/nav/nav.ejs%>
     <!--contenido principal Home-->
     <div class="container">
            <div class="row p-4">
                <div class="col-sm-4 mx-auto">
                    <div class="card text-center ">
                        <div class="card-header">
                            <h4>Add - Task</h4>
                        </div>
                        <div class="card-body">
                            <form action="/add-task" method="POST">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="title" name="title" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="url" placeholder="url" name="url" />
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="description" name="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success btn-block">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="cols-sm-4">
                    <img width="250" src="/imagenes/pc.png">
                </div>
            </div>
        </div>

     <% include partials/bootstrap/js.ejs %>
</body>
</html>